h3{
    text-align: center;
    color: blue;
}
p{
    text-align: center;
    text-emphasis: bold;
}
.HeadContent{
    background-color: red;
    height: 100px;
    padding-left:center;
}
table{
    margin-left: auto;
    margin-right: auto;
    bo
}
th{
    border-radius: 2px;
}
