h3{
    text-align: center;
    color: blue;
}
p{
    text-align: center;
    text-emphasis: bold;
}
div.headerclass1{
    background-color: rgb(220, 18, 18);
    height: 100px;
    padding-left:center;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
th{
    border-radius: 2px;
}
img{
    al
}
